*{
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;

}

body{
    background-color: #F3F3FE;
}

form {
    width: 750px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;

  }

h1{
    text-align: center;
}

img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* REQUERIDO */
span{
    color: red;
    font-size: 20px;
}


/* TITULOS */

.title{
    color: rgb(102, 172, 177);
}

.title2{
    color: rgb(102, 172, 177);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: -10px;
}
.titleat{
    color: rgb(102, 172, 177);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    top: -150px;
}

.parraf1 {
    width: 600px;
    text-align: center;
    height: 50px;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 16px;
    color: rgb(73, 73, 73);
    line-height: 1.9;

}
.parraf2{
    width: 700px;
    height: 50px;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 18px;
    color: mediumblue;
    position: relative;
    top: -150px;
}

.parraf2C{
    width: 700px;
    height: 50px;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 18px;
    color: mediumblue;
    position: relative;
    top: -80px;
}

.firmatext{
    width: 700px;
    height: 50px;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 18px;
    color: mediumblue;
    position: relative;
    top: -80px;
}

.parrafop{
    width: 700px;
    height: 50px;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 18px;
    color: mediumblue;
    position: relative;
    top: -90px;
}

table{
    position: relative;
    top: -160px;
}

/* SUB TITULOS */
.TD,
.ND,
.NYA,
.TL,
.MA{
    color: blue;
    font-size: 18px;
}

/* CAJAS */

.caja1{
    width: 310px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: grey;
}

.caja2{
    margin-left: 420px;
    position: relative;
    top: -70px;
    border-radius: 10px;
}
.caja3{
    position: relative;
    top: -40px;
}
.caja4{
    border-radius: 10px;
    width: 305px;
    height: 50px;
    font-size: 18px;
    color: grey;

}
.caja5{
    width: 305px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    color: grey;

}


.caja6{
    border-radius: 5px;
    font-size: 15px;
    height: 40px;
    width: 305px;
}

.caja7{
    position: relative;
    top: -155px;


}
.caja8{
    position: relative;
    left: 500px;
    top: -240px;
}
.caja9{
    position: relative;
    top: -220px;

}
.caja10{
    position: relative;
    top: -210px;
}
.caja11{
    position: relative;
    top: -80px;
}

.caja12 {
    width: 720px;
    height: 40px;
    border-radius: 10px;
    font-size: 18px;
    color: grey;
}

.hidden {
    display: none;
}

.radiotp{
    margin-left: auto;
    margin-right: auto 10px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    left: 40px ;
    }

.right{
    position: absolute;
    right: 100px;
}


.inp {
    width: 300px;
    height: 40px;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px;
}

.cajatl{

    margin-left: 420px;
    position: relative;
    top: -150px;
    border-radius: 10px;
}

.caja4edit{
    position: relative;
    left: 420px;
    top: -180px;
}

.cajadr{
    position: relative;
    top: -100px;
    padding: 5px;

}

.cajagnr{
    position: relative;
    top: -198px;
    left: 420px;
    padding: 5px;

}
.cajaopt{
    width: 310px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: grey;
}

/* cALENDARIO */
.fcdt{
    width: 300px;
    height: 37px;
    border-radius: 10px;
    font-size: 18px;
    color: grey;
}


.fcdt1{
    position: relative;
    top: -90px;
}


.servicio-container {
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

input[type="radio"] {
    margin-bottom: 5px;
}

label {
    margin-left: 5px;
}


/* TABLA */
table {
    border-collapse: collapse;
    width: 100%;
  }

  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }

  /* Colores según la evaluación */
  .muy-buena { background-color: #D4EDDA; }
  .buena { background-color: #CCE5FF; }
  .regular { background-color: #FFF3CD; }
  .mala { background-color: #F8D7DA; }
  .muy-mala { background-color: #F5C6CB; }

  /* COMENTARIOS */

  .comentarios{
    width: 690px;
    height: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -70px;
  }

/* FIRMA */

#canvas {
    border: 1px solid grey;
    display: block;
    margin-right: center;
    position: relative;
    top: -30px;
    margin-left: 30px;

}

.limpiar{
    position: relative;
    left: 490px;
    top: -32px;
    font-size: 10px;
    background-color: #bde2ff;
}


.tipofirma{
    font-size: 18px;
    color: mediumblue;
    position: relative;
    top: -60px;
}

.firmastype{
    width: 310px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: grey;
    position: relative;
    top: -60px;
    left: 50px;
}
.adjuntarfir{
    font-size: 18px;
    color: mediumblue;

}

.enviar{
    width: 240px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #20d826;
    border: none;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* CALCULAR */

.calculos{
    position: relative;
    top: 140px;
}
.resultados{
    width: 310px;
    height: 50px;
    border-radius: 10px;
    position: relative;
    left: 400px;
    top: -150px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    background-color: rgb(202, 202, 202);
    display: flex;
    text-align: center;
    justify-content: center;
}
.spanrst{
    color: black;
}

.resultados2{
    position: relative;
    top: -100px;
    background-color: #046bd2;
    width: 240px;
    height: 50px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
}

.advertencia {
    background-color: #ffe6e6; /* Fondo rojo claro */
    border: 1px solid #ff3333; /* Borde rojo */
    padding: 10px; /* Espaciado interno */
    margin: 10px 0; /* Espaciado externo */
    color: #ff3333; /* Color del texto rojo */
    font-style: italic; /* Texto en cursiva */
}





