*{
  font-family: Arial, sans-serif;

}
body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f4f4f4;
}

h2 {
  color: #333;
}

p {
  margin-bottom: 20px;
}

/* Formulario estilos */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="radio"],
input[type="checkbox"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Imagen estilos */
.img-eira {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.comentarios{
  height: 100px;
  
}
